{
  "cluster_key": "catalog-to-data-internal-cluster",
  "zone_key": "zone-default-zone",
  "name": "data-internal",
  {% if global.spire.enabled is sameas true %}
  "require_tls": true,
  "secret": {
    "secret_key": "secret-catalog-secret",
    "secret_name": "spiffe://{{ global.spire.trust_domain }}/catalog",
    "secret_validation_name": "spiffe://{{ global.spire.trust_domain }}",
    "subject_names": [
      "spiffe://{{ global.spire.trust_domain }}/edge"
  ],
    "ecdh_curves": [
        "X25519:P-256:P-521:P-384"
    ]
  },
  {% elif global.secret.enabled is sameas true %}
  "require_tls": true,
  "ssl_config": {
    "require_client_certs": true,
    "trust_file": "{{ values.catalog.secret.secret_keys.ca }}",
    "cert_key_pairs": [
      {
        "certificate_path": "{{ values.catalog.secret.secret_keys.cert }}",
        "key_path": "{{ values.catalog.secret.secret_keys.key }}"
      }
    ]
  },
  {% endif %}
  "instances": [
    {
        "host": "gm_idata.greymatter",
        "port": 8080
    }
  ],
  "circuit_breakers": null,
  "outlier_detection": null,
  "health_checks": []
}