{
  "cluster_key": "cluster-{{ global.service_name }}",
  "zone_key": "{{ global.zone_key }}",
  "name": "{{ global.service_name }}-service",
  "instances": [
    {
        "host": "0.0.0.0",
        "port": {{ CLUSTER_PORT | default(cluster.port) }}
    }
  ],
  "circuit_breakers": null,
  "outlier_detection": null,
  "health_checks": []
}