{
  "domain_key": "domain-{{ global.service_name }}-egress",
  "zone_key": "{{ global.zone_key }}",
  "name": "*",
  "port": {{ domain_egress.port }},
  "redirects": null,
  "gzip_enabled": false,
  "cors_config": null,
  "aliases": null,
  "force_https": false,
  "custom_headers": [
    {
      "key": "x-forwarded-proto",
      "value": "https"
    }
  ]
}